<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Exam aiExam = new AiExam(); -->
	<bean id="aiExam" class="com.baniota.Di.entity.AiExam" />
	<!-- ExamConcole console = new InlineExamConsole(); -->
	<bean id="console" class="com.baniota.Di.UI.InlineExamConsole" >
		<!-- console.setExam(exam); // name="exam" ==> (setExam -> exam) -->
		<property name="exam" ref="aiExam" ></property>
	</bean>
</beans>
